<script setup lang="ts">
import { ref } from "vue"
import { useRoute, useRouter } from "vue-router"
import { useServerStore } from "../store/server"
import CampSign from "../components/CampSign.vue"

enum DataState {
  Unloaded,
  Loading,
  Loaded,
  Updating,
  ConfirmUpdate,
  Deleting,
  ConfirmDelete,
  Error,
}

const router = useRouter()
const route = useRoute()
const currentState = ref(DataState.Unloaded)
const campData = ref({})
const knownSigns = ref([])
const serverStore = useServerStore()
const headers = {
  "accept": "application/json",
  "content-type": "application/json",
  "wire-hobo-apikey": serverStore.apikey,
}

function getUuid() {
  return route.params.uuid
}

// deleteCampData wraps the deletion with a confirmation choice
function deleteCampData() {
  currentState.value = DataState.ConfirmDelete
  console.log("about to delete " + route.params.uuid)
}

// deleteCampDataConfirmed is called after the confirmation button has been clicked
function deleteCampDataConfirmed() {
  currentState.value = DataState.Deleting
  const options = {
    method: "DELETE",
    headers,
  }
  fetch(serverStore.url + "/camps/" + getUuid(), options)
    .then((response) => {
      if (!response.ok) {
        const err = new Error("unexpected HTTP status delete camp from server: " + response.status)
        throw err
      }
    })
    .then((data) => {
      console.log(data)
      router.push({ name: "Home" })
    })
    .catch((err) => {
      currentState.value = DataState.Error
      console.error(err)
    })
}

function loadKnownSigns() {
  fetch(serverStore.url + "/signs", { headers })
    .then((response) => {
      if (!response.ok) {
        const err = new Error("unexpected HTTP status getting signs from server: " + response.status)
        throw err
      }
      return response.json()
    })
    .then((data) => {
      console.log(data)
      if (data != null && data.length > 0) {
        knownSigns.value = data.filter((s) => s.length > 0).map((s) => s["name"])
      }
    })
    .catch((err) => {
      currentState.value = DataState.Error
      console.error(err)
    })
}

function loadCampData() {
  currentState.value = DataState.Loading
  loadKnownSigns()
  fetch(serverStore.url + "/camps/" + getUuid(), { headers })
    .then((response) => {
      if (!response.ok) {
        const err = new Error("unexpected HTTP status getting camp from server: " + response.status)
        throw err
      }
      return response.json()
    })
    .then((data) => {
      console.log(data)
      campData.value = data
      currentState.value = DataState.Loaded
    })
    .catch((err) => {
      currentState.value = DataState.Error
      console.error(err)
    })
}

// updateCampData wraps the update with a confirmation choice
function updateCampData() {
  currentState.value = DataState.ConfirmUpdate
  console.log("about to update " + route.params.uuid)
}

// updateCampDataConfirmed is called after the confirmation button has been clicked
function updateCampDataConfirmed() {
  currentState.value = DataState.Updating
  const putData = {
    title: campData.value.title,
    url: campData.value.url,
    signs: campData.value.signs,
  }
  const body = JSON.stringify(putData)
  const options = {
    method: "PUT",
    headers,
    body,
  }
  fetch(serverStore.url + "/camps/" + getUuid(), options)
    .then((response) => {
      if (!response.ok) {
        const err = new Error("unexpected HTTP status connecting to server: " + response.status)
        throw err
      }
      return response.json()
    })
    .then((data) => {
    loadCampData()
    })
    .catch((err) => {
      currentState.value = DataState.Error
      console.error(err)
    })
}

// resetConfirm happens after user clicks no on a confirmation dialog
function resetConfirm() {
  currentState.value = DataState.Loaded
}

// removeSign removes the target sign from the camp's signs
function removeSign(target) {
  campData.value.signs = campData.value.signs.filter((s) => s != target)
}

// addSign adds the target sign to the camp's signs if it doesn't exist already
function addSign(target) {
  if (campData.value.signs.find((e) => e == target) == undefined) {
    campData.value.signs.push(target)
    campData.value.signs = campData.value.signs.toSorted()
  }
}

function pushHome() {
  router.push("/")
}

// initial load of data
loadCampData()

</script>

<template>
  <div v-if="currentState == DataState.Unloaded">
    attempting to load {{ getUuid() }}
  </div>
  <div v-else-if="currentState == DataState.Loading">
    loading {{ getUuid() }}
  </div>
  <div v-else-if="currentState == DataState.Loaded">
    <form>
      <span>Editing Camp {{ getUuid() }}</span>

      <div>
        <label for="title">title:</label>
        <input type="text" id="title" name="camp_title" v-model="campData.title" />
      </div>

      <div>
        <label for="url">url:</label>
        <input type="text" id="url" name="camp_url" v-model="campData.url" />
      </div>

      <div>
        <p>camp signs:</p>
        <span class="signs"><CampSign v-for="sign in campData.signs" :sign="sign" @sign-clicked="removeSign"/></span>
      </div>

      <div>
        <p>known signs:</p>
        <span class="signs"><CampSign v-for="sign in knownSigns" :sign="sign" @sign-clicked="addSign"/></span>
      </div>

      <div class="buttons">
        <p>
        <button @click="updateCampData" type="button">Update</button>
        <button @click="pushHome" type="button">Cancel</button>
        <button @click="deleteCampData" type="button" class="delete-button">Delete</button>
        </p>
      </div>
    </form>
  </div>
  <div v-else-if="currentState == DataState.ConfirmUpdate">
    <div class="buttons">
      <p>
      Confirm update:
      <button @click="updateCampDataConfirmed" type="button">Yes</button>
      <button @click="resetConfirm" type="button">No</button>
      </p>
    </div>
  </div>
  <div v-else-if="currentState == DataState.ConfirmDelete">
    <div class="buttons">
      <p>
      Confirm delete:
      <button @click="deleteCampDataConfirmed" type="button">Yes</button>
      <button @click="resetConfirm" type="button">No</button>
      </p>
    </div>
  </div>
  <div v-else-if="currentState == DataState.Updating">
    updating {{ getUuid() }}
  </div>
  <div v-else-if="currentState == DataState.Error">
    server error
  </div>
  <div v-else>
    unknown editor state
  </div>
</template>

<style scoped>
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
input {
  width: 75%;
}

button.delete-button {
  margin-left: 1em;
}
</style>
