<script setup lang="ts">
import { ref } from "vue"
import type { Ref } from "vue"
import { ServerStatus, useServerStore } from "../store/server"
import CampDetail from "../components/CampDetail.vue"

interface CampData {
  id: string
  url: string
  title: string
  signs: Array<string>
}

const connected = ref(false)
const campData: Ref<Array<CampData>> = ref([])

// remove empty string signs
// for some reason the api server is returning empty signs list with
// a single empty string in the list. TODO remove this when its fixed
function sanitizeEmptyCampSigns(data: object): object {
  for (let i = 0; i < data.length; i++) {
    if (data[i].signs.length > 0 && data[i].signs[0] === "") {
      data[i].signs = []
    }
  }
  return data
}

function loadCamps() {
  const serverStore = useServerStore()

  const headers = {
    "accept": "application/json",
    "wire-hobo-apikey": serverStore.apikey,
  }
  fetch(serverStore.url + "/camps", { headers })
    .then((response) => {
      if (!response.ok) {
        const err = new Error("unexpected HTTP status connecting to server: " + response.status)
        throw err
      }
      return response.json()
    })
    .then((data) => {
      console.log(data)
      campData.value = sanitizeEmptyCampSigns(data)
      connected.value = true
      serverStore.setStatus(ServerStatus.Connected)
    })
    .catch((err) => {
      console.error(err)
    })
}

loadCamps()
</script>

<template>
    <div v-if="connected">
      <CampDetail v-for="camp in campData"
                  :uuid="camp.id"
                  :url="camp.url"
                  :title="camp.title"
                  :signs="camp.signs"
                  />
    </div>
    <div v-else>
      not connected
      <button @click="loadCamps">retry</button>
    </div>
</template>
