<script setup lang="ts">
import { onMounted, ref } from "vue"
import { ServerStatus, useServerStore } from "../store/server"

let store = useServerStore()

const version = ref("unknown")
const error = ref(new Error())
const serverUrl = ref(store.url)
const serverKey = ref(store.apikey)

function saveUrlAndKey() {
  store.setUrlAndKey(serverUrl.value, serverKey.value)
  loadServerDetails()
}

function fetchServerData(store: any) {
  console.log("fetching server data")
  const headers = {
    "accept": "application/json",
    "wire-hobo-apikey": store.apikey,
  }
  fetch(store.url, { headers })
    .then((response) => {
      if (!response.ok) {
        const err = new Error("unexpected HTTP status connecting to server: " + response.status)
        throw err
      }
      return response.json()
    })
    .then((data) => {
      store.setStatus(ServerStatus.Connected)
      if (data.server.version !== undefined) {
        version.value = data.server.version
      }
    })
    .catch((err) => {
      store.setStatus(ServerStatus.Errored)
      error.value = err
    })
}

function isServerStatus(desired: ServerStatus) {
  const store = useServerStore()
  return store.isStatus(desired)
}

function loadServerDetails() {
  const store = useServerStore()
  if (!store.hasUrlAndKey()) {
    store.setStatus(ServerStatus.Unconfigured)
  } else if (store.hasUrlAndKey()) {
    store.setStatus(ServerStatus.Connecting)
    fetchServerData(store)
  } else {
    console.log("doing nothing")
  }
}

onMounted(() => {
  loadServerDetails()
})

loadServerDetails()
</script>

<template>
<h1>Server Details</h1>

<h2>Current Status</h2>

<div v-if="isServerStatus(ServerStatus.Unconfigured)">
  Unconfigured
</div>
<div v-if="isServerStatus(ServerStatus.Configured)">
  Configured
</div>
<div v-else-if="isServerStatus(ServerStatus.Connecting)">
  Connecting
</div>
<div v-else-if="isServerStatus(ServerStatus.Connected)">
  <div>Connected</div>
    {{ version }}
</div>
<div v-else-if="isServerStatus(ServerStatus.Errored)">
  <div>
    {{ error }}
  </div>
</div>
<div v-else>
  this shouldn't happen
</div>

<h2>Update</h2>
<div class="server-form">
<label for="server-url">URL</label>
<input v-model="serverUrl" type="text" name="server-url" placeholder="server url" />
<br />
<label for="api-key">API Key</label>
<input v-model="serverKey" type="text" name="api-key" placeholder="server API key" />
<br/>
<button @click="saveUrlAndKey()">Save</button>
</div>

</template>

<style>
</style>
