<script setup lang="ts">
import { computed } from "vue"
import CampSign from "./CampSign.vue"

const props = defineProps<{
  uuid: string
  url: string
  title: string
  signs: Array<string>
}>()

const editUrl = computed( () => {
  return "/edit/camp/" + props.uuid
})

function hasSigns(): boolean {
  if (props.signs.length > 0) {
    return true
  }
  return false
}
</script>

<template>
<div :id="uuid" class="camp">
  <div class="first-line">
    <a :href="url" target="_blank">{{ title }}</a>
    <span class="signs" v-if="hasSigns()"><CampSign v-for="sign in signs" :sign="sign" /></span>
    <span class="edit-button"><a :href="editUrl">edit</a></span>
  </div>
</div>
</template>

<style>
div.camp {
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px #dedede solid;
}

div.first-line a {
  font-weight: bold;
  color: #254970;
}
div.first-line a:hover {
  background: #C2D1E2;
}

div.second-line {
  font-size: 75%;
  padding-left: 3em;
  padding-top: 0.5em;
  color: #8EA7C3;
}

span.signs {
  padding-left: 2em;
}

span.edit-button {
  float: right;
  padding-right: 1em;
}

span.edit-button a {
  background: #254970;
  color: #8EA7C3;
  border-radius: 10%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

span.edit-button a:hover {
  color: #254970;
  background: #8EA7C3;
}
</style>
