<script setup lang="ts">
export interface Props {
  sign: string
  selected?: boolean
}

const emit = defineEmits(['signClicked'])
const props = withDefaults(defineProps<Props>(), {
  selected: false,
})

function clicked(event) {
emit('signClicked', props.sign)
}
</script>

<template>
  <a @click="clicked"><span class="sign" :class="{ selected: selected }">{{ sign }}</span></a>
</template>

<style scoped>
a {
  margin-right: 0.5em;
}

span.sign {
  padding-left: .25em;
  padding-right: .25em;
  font-weight: bold;
  color: #254970;
  background: #C2D1E2;
  border-radius: 15%;
}
.sign:hover {
  color: #C2D1E2;
  background: #607FA2;
  cursor: pointer;
}
.sign.selected {
  color: #C2D1E2;
  background: #607FA2;
}
.sign.selected:hover {
  color: #254970;
  background: #C2D1E2;
}

</style>
