<script setup lang="ts">
import { RouterView } from "vue-router";
</script>

<template>
  <div>
    <router-link to="/">Camps</router-link>::
    <router-link to="/server">Server</router-link>
    <hr />
  </div>
  <RouterView />
</template>

<style>
body {
  font-family: monospace;
}

a {
  text-decoration: none;
}
</style>
